<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePointDTO}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of CurvePoint, there are 2 buttons: Save data and Cancel to the list CurvePoint
			 -->
			 <div>
			 		<input class="form-control mb-4" th:field="*{curveId}" placeholder="ID" autofocus="autofocus" >
					<p class="text-danger" th:if="${#fields.hasErrors('curveId')}" th:errors="*{curveId}"></p>
			 </div>
			 
			<div>
					<input class="form-control mb-4" th:field="*{term}" placeholder="Term" autofocus="autofocus" >
					<p class="text-danger" th:if="${#fields.hasErrors('term')}" th:errors="*{term}"></p>
			</div>	
				
			<div>
					<input class="form-control mb-4" th:field="*{value}" placeholder="Value" autofocus="autofocus" >
					<p class="text-danger" th:if="${#fields.hasErrors('value')}" th:errors="*{value}"></p>
			</div>				
			
			<div class="form-group">
					<div class="col-sm-12">
						<input class="btn btn-primary btn-sm" type="submit"
							value="Save Curve"> 
						<a class="btn btn-danger btn-sm" href="/curvePoint/list">Back to List</a>
					</div>
			</div>		
			

		</form>
		
		
	</div>

</div>
</body>
</html>